---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404">
      {/*
        This example requires updating your template:

        ```
        <html class="h-full">
        <Layout class="h-full">
        ```
      */}
      <main class="relative isolate min-h-full">
        <img
          src="/images/404.jpg"
          alt=""
          class="absolute inset-0 -z-10 h-full w-full object-cover object-top opacity-10"
        />
        <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
          <p class="text-base font-semibold leading-8 text-gray-700">404</p>
          <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page not found</h1>
          <p class="mt-4 text-base text-gray-900/70 sm:mt-6">Sorry, we couldn’t find the page you’re looking for.</p>
          <div class="mt-10 flex justify-center">
            <a href="/" class="text-sm font-semibold leading-7 text-gray-900">
              <span aria-hidden="true">&larr;</span> Back to home
            </a>
          </div>
        </div>
      </main>
</Layout>
