---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";

const title = "Cart";
---

<Layout title={title}>
<header>
  <Header title={title} description="Cart page" />
  </header>
  <main></main>

</Layout>
